nav{
float: right;
}
img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    border-width: 7px;
    border-color: black;
    float: left;
    margin-left: 15px;
    margin-top: 120px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    width: 1000px;
}
h4{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    font-style: bold;
}
#skillsGrid{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-gap: 30px;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-left: 10px;
}

.skillsGridArea {
    border: 1px solid black;
    border-radius: 20px;
    padding: 12px;
}
 

@media only screen and (max-width: 600px) {
    nav {
        display: block;
        height:auto;
        float: right;
    }
    img {
        width: 100px;
        margin-top: 60px;
        display: block;
        float: left

    }

    .flex-container {
        width: 450px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    h4{
        font-size: 20px;
        text-align: center;
    }

    #skillsGrid{
        grid-template-rows: 180px 180px 180px 180px;
        grid-template-columns: 500px;
        width:auto;
        margin-left: 50px;
        float: left;
        grid-template-areas:
        "userResearch"
        "researchAnalysis"
        "userEmpathy"
        "teamwork";
        
        
        
    }
    }

   